<%- include ("../partials/header.ejs") %>


    <div class="row">
        <div class='col-4'>
            <div class="page-data"><br> <br><br>

                <h3>Employee Info</h3>
                <form method="post" action="">
                    <table cellpadding="11">

                        <tr>
                            <td class="label">Employee Name</td>
                            <td>: <%=data.name%>
                            </td>
                        </tr>

                        <tr>
                            <td class="label">Email</td>
                            <td>: <%=data.email%>
                            </td>
                        </tr>

                        <tr>
                            <td class="label">Password</td>
                            <td>: <%=data.password%>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">UserType</td>
                            <td>: <%=data.usertype%>
                            </td>
                        </tr>

                        <tr>
                            <td class="label">designation</td>
                            <td>: <%=data.designation%>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">hireDate</td>
                            <td>: <%=data.hireDate%>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">salary</td>
                            <td>: <%=data.salary%>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">comments</td>
                            <td>: <%= data.comments %>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Department</td>
                            <td>: <%= data.departmentR.name %>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Location</td>
                            <td>: <%= data.departmentR.location %>
                            </td>
                        </tr>



                    </table>
                </form>
            </div>
        </div>



        <div class='col-8'>
            <br><br><br>
            <h3>Projects</h3>

            <% if (data.EmpWorkR.length) { %>
                <ul>
                    <% for( let index=0; index < data.EmpWorkR.length; index++ ) { %>
                        <li>
                            <%=data.EmpWorkR[index].WorkProjectR.pName%> (<%=data.EmpWorkR[index].hours  %> hours )
                        </li>
                        <% } %>
                </ul>
            <%} else { %>
                <p> No Projects Assigned !!! </p>
            <% } %>
            
        </div>
    </div>




    <%- include ("../partials/footer.ejs") %>