<%- include('../partials/header.ejs') %>
  <h2 style="text-align: center; padding-top: 20px;">Departmentwise Leave Details </h2>
  <div class="row" style="margin: 50px; margin-top: 0px;">

    <div class="col-sm-3">
      <a href="/requests/leaveDetails" style="color: rgb(7, 2, 2); text-decoration: none; ">
        <div class="card" style="margin-top: 25px">

          <img src="/images/departments/departments.jpg" class="card-img-top" alt="..." style="height: 250px;">
          <div class="card-body">
            <h5 class="card-title">All Departments</h5>
          </div>
        </div>
    </div></a>





    <% if(data.length){ for(var i=0;i < data.length;i++) { %>

      <div class="col-sm-3">
        <a href="/requests/leaveDetails/<%=data[i].id%>" style="color: rgb(7, 2, 2); text-decoration: none; ">
          <div class="card" style="margin-top: 25px">

            <img src='/<%=data[i].photo%>' class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body">
              <h5 class="card-title">
                <%=data[i].name%>
              </h5>
            </div>
          </div>
      </div></a>
      <% } } %>
  </div>

  <%- include('../partials/footer.ejs') %>